@model WebLab.Domain.Models.ListModel<WebLab.Domain.Entities.Beer>
@{
	var currentBeerType = ViewData["beerType"];
	List<BeerType> beerTypes = (List<BeerType>)ViewData["beerTypes"];
}


<div class="container overflow-hidden">
	<div class="col-2 border-2">
		<ul class="nav ">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle"
				   data-bs-toggle="dropdown"
				   href="#"
				   role="button"
				   aria-expanded="false">
					@(currentBeerType ?? "Все")
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item"
						   asp-controller="beer"
						   asp-route-type=@null>Все</a>
					</li>
					@foreach (var item in beerTypes)
					{
						<li>
							<a class="dropdown-item"
							   asp-controller="beer"
							   asp-route-beerType="@item.NormalizedName">
								@item.Name
							</a>
						</li>
					}
				</ul>
			</li>
		</ul>
	</div>
	<partial name="_BeerListPartial"></partial>
</div>
