@{
	var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() ?? String.Empty;
	var area = ViewContext.RouteData.DataTokens["area"]?.ToString()?.ToLower() ?? String.Empty;
}
<a class="navbar-brand" href="#">15350015</a>
<div class="navbar-nav">
	<a class="nav-item nav-link @(controller=="home"?"active":"")" asp-controller="home" asp-action="index">Лб 1</a>
	<a class="nav-item nav-link @(controller=="beer"?"active":"")" asp-controller="beer" asp-action="index">Каталог</a>
	<a class="nav-item nav-link @(area=="admin"?"active":"")" asp-area="admin" asp-page="/index">Администрирование</a>
</div>


